*{
    font-family: 'Courier New', Courier, monospace;
}
body{
    margin: 0;
    font-size: 15px;
    background-color: rgb(230, 170, 238);

    
}
header{
    height: 100vh;
    color: aliceblue;
    background-color: rgb(61, 7, 76);
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items:center; 
    flex-direction: row;

    
}
header h1{
    margin: 0;
    color: aliceblue;
    text-align: center;
    display: block;
    font-size: 3rem;

    
}
h1{
    color: rgb(61, 7, 76);
    font-size: 2rem;
    text-align: center;
    text-decoration-line: underline;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;

}
h2{
    color: rgb(61, 7, 76);
    text-align: center;
    text-decoration-line: underline;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5rem;

}
.button{
    height: 30px;
    width: 130px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    align-items: center;
    color: #4c3853;
    background-color: lavender;
    font-weight: bold;
    font-size: 1rem;
    margin: 10px;


}
.button:hover{
    color: aliceblue;
    background-color: rgb(135, 28, 151);
}
img{
    height: 200px;
    width: 100px;
    border-radius: 10px;
    margin: 10px;
    
}
main{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr ;
    background-color: rgb(230, 170, 238);

}

section{
    height: 100vh;
    border: 1px solid gray;
    border-radius:  20px;
    margin: 20px;
    text-align: justify;
    position: relative;
    padding: 20px;
    background-color: rgb(217, 149, 217);


}

.submit:hover{
    color: aliceblue;
    background-color:rgb(135, 28, 151) ;
    
}
input{
    border-radius: 5px;
    border: 1px solid lavender;
    height: 25px;
    width: 200px;
    margin: 10px;
    padding: 5px;
    font-size: 1rem;
   
}
.fixedbutton{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: aliceblue;
    background-color: blueviolet;
    font-size: 2rem;
    font-weight: bold;

}
footer{
    height: 124px;
    background-color: rgb(138, 73, 146);
    color: azure;
    text-align: center;
    height: 100px;
    padding: 50px;

   
}
ol{
    text-align: center;
    align-items: justify;

}
